body {
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'EB Garamond', serif;
}

header {
    border-bottom: 0.06vw solid rgb(220, 220, 220);
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5vh 3.25vw;  
    font-size: 1vw;
}

.navigation h2{
    white-space: nowrap;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav_btns {
    justify-content: space-evenly;
    display: flex;
    width: 30vw;
}

.container {
    /* width: 100%; */
    min-height: 0.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f5f5f5;
    right: 0;
    display: none;
  }
  
  .toggle {
    position: relative;
    width: 50px;
    height: 40px;
    background: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .toggle span {
    position: absolute;
    width: 40px;
    height: 4px;
    border-radius: 4px;
    background: #1863ff;
    transition: 0.5s;
  }
  
  .toggle span:nth-child(2) {
    transform: translateY(-15px);
    width: 25px;
    left: 5px;
  }
  
  .toggle span:nth-child(3) {
    transform: translateY(15px);
    width: 15px;
    left: 5px;
  }
  
  .toggle.active span:nth-child(1) {
    transform: translateX(60px);
  }
  
  .toggle.active span:nth-child(2) {
    width: 40px;
    transform: translateX(0) rotate(45deg);
    transition-delay: 0.2s;
  }
  
  .toggle.active span:nth-child(3) {
    width: 40px;
    transform: translateX(0) rotate(-45deg);
    transition-delay: 0.4s;
  }

.nav_btns a {
    text-decoration: none;
    color: grey;
}

.nav_links {
   display: flex;
   justify-content: space-between;
   width: 20%;
}

.nav_links img{
    height: 4.15vh;
    width: 1.95vw;
    /* min-width: 15px;
    min-height: 20px;  
    max-width: 40px;
    max-height: 35px; */
}

/* Main parts */

.blocks {
    border-bottom: 0.06vw solid rgb(220, 220, 220);
    font-size: 1vw;
    display: grid;
}

.main_photos {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main_block_txt {
    padding: 10.38vh 4.88vw;
    /* padding-top: 11.2vh;
    padding-left: 12.38vw;
    padding-right: 11.73vw;
    padding-bottom: 15.2vh; */
}

.main_h1 {
    font-weight: 300;
}

.main_btns {
    color: darkgrey;
    border-color: gray;
    border: 0.06vw solid;
    border-radius: 0.32vw;
    background-color: white;
    padding: 1.38vh 1.95vw;
    margin-top: 1.8vh;
    font-size: 1vw;
}

.main_btns:hover {
    cursor: pointer;
}

/* Block 1 */

.block1 {
    grid-template-columns: 50% 50%;
}

.block1_photo{
    background-image: url('./pictures/rewilding_fire.jpg');
}

/* Block 2 */

.block2 {
    grid-template-columns: 30% 70%;
}

.block2_photo {
    background-image: url('./pictures/story_fire.jpg');
}

/* Block 3 */

.block3 {
    grid-template-columns: 70% 30%;
}

.block3_photo {
    background-position: bottom;
    background-image: url('./pictures/campfire.jpg');
}

/* Gallery */

.gallery {
    margin-top: 8.3vh;
    text-align: center;
    font-size: 1vw;
}

.gallery h1 {
    margin-bottom: 6.23vh;
}

.gallery_photos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 200px;
    position: relative;
    width: 100%;
}

.photo {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo:hover .photo_txt {
    opacity: 0.7;
    transition: 0.5s;
}

.photo1 {
    background-image: url(./pictures/camp.jpg);
}

.photo2 {
    background-image: url(./pictures/campfire-cooking.png);
}

.photo3 {
    background-image: url(./pictures/camping-dark-forest-light.jpg);
}

.photo4 {
    background-image: url(./pictures/Bazaar.webp);
}

.photo_txt {
    opacity: 0;
    color: white;
    text-align: center;
}

.photo_btns {
    color: white;
    border-color: white;
    background-color: transparent;
}

.photo_txt h3 {
    margin-bottom: 2vh;
}

/* .photo img {
    width: 25vw;
    height: ;
    display: none;
} */

/* .gallery_photos {
    margin: 0;
    height: 41.5vh;
    display: flex;
    vertical-align: top;
    position: relative;
    overflow: hidden;
}*/

.fa-solid {
    position: absolute;
    color: white;
    font-size: 3vw;
    opacity: 0;
    top: 50%;
}

.gallery_photos:hover .fa-solid {
    opacity: 0.6;
    transition: 0.5s;
}

.fa-chevron-left {
    left: 0.91vw;
}

.fa-chevron-right {
    right: 0.91vw;
}

/* Features */

.features {
    margin-top: 13.85vh;
    text-align: center;
    font-size: 1vw;
}

.features_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    border-collapse: collapse;
}

.features_grid img {
    width: 3.125vw;
    height: 6.64vh;
}

.features_grid div {
    border-color: rgb(220, 220, 220);
    border-collapse: collapse;
    padding: 6.92vh 1.95vw;
}

.one {
    border-bottom: 0.13vw solid;
}

.two {
    border-left: 0.13vw solid;
    border-bottom: 0.13vw solid;
    border-right: 0.13vw solid;
}

.three {
    border-bottom: 0.13vw solid;
}

.five {
    border-left: 0.13vw solid;
    border-right: 0.13vw solid;
}

/* Write to us */

.forms_block {
    text-align: center;
    font-size: 1vw;
    margin: 13.85vh 12vw;
}

.general_inf {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3vw;
    text-align: left;
}

.general_inf input {
    width: 100%;
    height: 3.5vh;
    border-radius: 0.19vw;
    border-color: rgb(220, 220, 220);
    border-width: 0.06vw;
    margin-top: 1.1vh;
}

.radios {
    text-align: left;
    display: flex;
    align-items: center;
    margin-top: 3vh;
}

.radios label {
    font-size: 1vw;
}

.radios input {
    margin-left: 0.97vw;
    margin-right: 0.455vw;
    background-color: gray;
    width: 1vw;
    border-width: 0.06vw;
}

.select {
    text-align: left;
    margin-top: 3vh;
}

select {
    margin-top: 1vh;
    border-color: rgb(220, 220, 220);
    border-width: 0.06vw;
    width: 100%;
    height: 5vh;
    padding-left: 1vw;
    padding-right: 1vw;
    font-size: 1vw;
}

.message {
    margin-top: 3vh;
    text-align: left;
}

.message input {
    width: 100%;
    height: 20.77vh;
    border-color: rgb(220, 220, 220);
    border-width: 0.06vw;
}

.send {
    margin-top: 1vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.check_robot {
    display: flex;
    align-items: center;
}

.send input {
    border-color: rgb(220, 220, 220);
    border-width: 0.06vw;
    width: 1vw;
}

.send label {
    font-size: 1vw;
}

.send button {
    margin: 0;
}

/* border-bottom: 0.06vw solid rgb(220, 220, 220); */

/* Footer  */

footer {
    border-top: 0.06vw solid rgb(220, 220, 220);
    padding-top: 5vh;
    text-align: center;
}

.footer_links {
    margin-bottom: 2.77vw;
}

.footer_links img {
    width: 1.822vw;
    border: 0.06vw solid black;
    margin: 0 0.32vw;
    padding: 0.69vh 0.32vw;
    border-radius: 5.85vw;
}

footer span {
    font-size: 2vw;
}

/* Adaptation */

@media screen and (min-width: 600px) and (max-width: 850px) {
    .nav_links {
        display: none;
    }

    .blocks {
        grid-template-columns: 1fr 1fr;
    }

    .main_block_txt {
        padding: 7vh 3vw;
    }

    .gallery_photos {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }

    .photo3, .photo4 {
        display: none;
    }

    .features_grid {
        grid-template-columns: 1fr 1fr;
    }

    .four {
        border-left: 0.06vw solid rgb(220, 220, 220);
        border-bottom: 0.06vw solid rgb(220, 220, 220);
    }

    .features_grid img {
        /* width: 3vw; */
        height: 4vh;
    }

    .footer_links img{
        height: 1.7vh;
    }
}

@media screen and (max-width: 600px) {
    .navigation {
        justify-content: space-between;
    }
    
    .navigation h2 {
        margin-left: 2vw;
    }

    .container {
        display: block;
    }

    .nav_btns {
        display: none;
    }

    .nav_links {
        display: none;
    }

    .blocks {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .block1_photo {
        order: 1;
    }

    .block3_photo {
        order: 1;
    }

    .block_txt {
        order: 2;
    }
    
    .main_block_txt {
        padding: 4vh 2.3vw;
    }

    .main_btns {
        border-radius: 0.5vw;
        padding: 0.5vh 1vw;
        font-size: 1vw;
    }

    .gallery_photos {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .photo2, .photo3, .photo4 {
        display: none;
    }

    .features_grid {
        grid-template-columns: 1fr;
    }

    .five {
        border-top: 0.06vw solid rgb(220, 220, 220);
        border-bottom: 0.06vw solid rgb(220, 220, 220);
    }

    .six {
        border-bottom: 0.06vw solid rgb(220, 220, 220);
    }

    .general_inf {
        display: block;
    }

    .general_inf input {
        margin-top: 0.4vh;
        margin-bottom: 0.8vh;
    }

    .features_grid img {
        /* width: 3vw; */
        height: 3vh;
    }

    .footer_links img{
        height: 1.4vh;
        width: 2vw;
    }
}