body {
    margin: 0;
}

header {
    border-bottom: 0.06vw solid rgb(220, 220, 220);
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2.7vh 3.25vw;  
    font-size: 1vw;
}

.navigation h2{
    white-space: nowrap;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav_btns {
    justify-content: space-evenly;
    display: flex;
    width: 30vw;
}

.nav_btns a {
    text-decoration: none;
    color: grey;
}

.nav_links {
   display: flex;
   justify-content: space-between;
   width: 20%;
}

.nav_links img{
    height: 4.15vh;
    width: 1.95vw;
    /* min-width: 15px;
    min-height: 20px;  
    max-width: 40px;
    max-height: 35px; */
}

/* Main parts */

.blocks {
    border-bottom: 0.06vw solid rgb(220, 220, 220);
    font-size: 1vw;
    display: grid;
}

.main_photos {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main_block_txt {
    padding-top: 11.2vh;
    padding-left: 12.38vw;
    padding-right: 11.73vw;
    padding-bottom: 15.2vh;
}

.main_h1 {
    font-weight: 300;
}

.main_btns {
    color: darkgrey;
    border-color: gray;
    border: 0.06vw solid;
    border-radius: 0.32vw;
    background-color: white;
    padding: 1.38vh 1.95vw;
    margin-top: 1.8vh;
    font-size: 1vw;
}

.main_btns:hover {
    cursor: pointer;
}

/* Block 1 */

.block1 {
    grid-template-columns: 50% 50%;
}

.block1_photo{
    background-image: url('./pictures/rewilding_fire.jpg');
}

/* Block 2 */

.block2 {
    grid-template-columns: 30% 70%;
}

.block2_photo {
    background-image: url('./pictures/story_fire.jpg');
}

/* Block 3 */

.block3 {
    grid-template-columns: 70% 30%;
}

.block3_photo {
    background-position: bottom;
    background-image: url('./pictures/campfire.jpg');
}

/* Gallery */

.gallery {
    margin-top: 8.3vh;
    text-align: center;
    font-size: 1vw;
}

.gallery_photos {
    margin: 0;
    height: 41.5vh;
    /* width: 100%; */
    display: flex;
    vertical-align: top;
    position: relative;
    overflow: hidden;
}

.fa-solid {
    position: absolute;
    color: white;
    font-size: 3vw;
    opacity: 0;
    top: 50%;
}

.gallery_photos:hover .fa-solid {
    opacity: 0.6;
    transition: 0.5s;
}

.fa-chevron-left {
    left: 0.91vw;
}

.fa-chevron-right {
    right: 0.91vw;
}